@import '../../../assets/styling/mixins';
@import '../../../assets/styling/variables';


.shop {
    padding-top: 1%;

    .titleBox {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.shop h2 {
    font-family: 'Inspiration', cursive;
    font-weight: 600;
    font-size: 52px;
    color:teal;
}

.shopNav {
    @include displayRow();
    // @include boxShadow();
    justify-content: space-evenly;
    width:98vw;
    padding: 2% 1%;
    height: 15vh;
    margin-top:2%;
    // background-color: lightyellow;

    .shopLeft, .shopRight {
        @include displayRow();
    }
    .shopLeft {
        width: 40%;
        margin: 0 auto;
    
    }
}

@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: lightyellow; }
    80%  { background: pink; }
    100% { background: teal; }
}
.shopRight {
    @include border();
    @include boxShadow();
    width: 10%;
    height: 5vh;
    background: pink; /* Fallback */
    animation: color s infinite linear;
    text-align: center;
    margin-right: 5%;
    border-radius: 10px;
    
    p {
        @include mainFont();
        color:black;
    }
}




.shopIcon {
height: 75px;
border-radius: 50%;
border: 1px solid teal;
padding: 5%;
}


.shoplinks .shopName {
    background: -webkit-linear-gradient(black, teal);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inspiration', cursive;
    font-size: 38px;
    margin-top: -5%;
}

.shopIcon:hover {
    margin-top:-2%;
    height: 90px;
    @include boxShadow();
    
    .shoplinks .shopName {
        color:black;
    }
    
}
.shop main {
    width: 75%;
    margin:0 auto;
    padding: 5% 0;
}

.coffee {
    height: 30px;
    padding: 0 1%;
}