@import '../../../assets/styling/mixins';
@import '../../../assets/styling/variables';

.shop h2 {
    font-family: 'Inspiration', cursive;
    font-weight: 600;
    font-size: 52px;
    color:teal;
}

.shopNav {
    @include displayRow();
    @include boxShadow();
    justify-content: space-evenly;
    width:100%;
    padding: 0 1%;
    height: 15vh;
    margin-top:2%;
    background-color: lightyellow;

    
    .shopLeft, .shopRight {
        @include displayRow();
    }
    .shopLeft {
        width: 40%;
        margin: 0 auto;
        a {
            color:white;
        }
    
    }
    .shopRight {
        @include border();
        width: 5%;
        height: 5vh;
        background-color: lightgrey;
        margin-right: 5%;
        
        a {
            @include mainFont();
            color:black;
        }
    }

    a {
        color:$body;
        font-family: 'Bad Script', cursive;
        text-decoration: none;
        font-size: 16px;
        padding: 0 1%;
    }
    a:hover{
        color:$hover;
        font-weight:500;
        font-size:19px;
        // background-color: $body;
        padding: 1%;
        border-radius: 5px;
    }
}


.shop {
    padding-top: 1%;

    .titleBox {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.shop main {
    width: 75%;
    margin:0 auto;
    padding: 5% 0;
}

.shopIcon {
    height: 75px;
}

.shopIcon:hover {
    margin-top:-4%;
    height: 90px;
}

.coffee {
    height: 30px;
    padding: 0 1%;
}