@import '../../../assets/styling/mixins';
@import '../../../assets/styling/variables';



.shopNav {
    @include displayRow();
    justify-content: space-around;
    width:100%;
    padding: 0 5%;
    height: 15vh;
    margin-top:2%;
    background-color: black;

    
    .shopLeft, .shopRight {
        @include displayRow();
    }
    .shopLeft {
        width: 70%;
        a {
            color:white;
        }
    
    }
    .shopRight {
        @include border();
        width: 10%;
        height: 10vh;
        background-color: beige;
        margin-right: 3%;
        
        a {
            @include mainFont();
            color:black;
        }
    }

    a {
        color:$body;
        font-family: 'Bad Script', cursive;
        text-decoration: none;
        font-size: 16px;
        padding: 0 1%;
    }
    a:hover{
        color:$hover;
        font-weight:500;
        font-size:19px;
        background-color: $body;
        padding: 1%;
        border-radius: 5px;
    }
}


.shop {
    padding-top: 1%;
}

.shop main {
    width: 75%;
    margin:0 auto;
    padding: 5% 0;
}