@import './mixins';
@import './variables';

header, footer {
    @include boxShadow();
    @include displayRow();
    background-color: $secondary;
    color:$primary;
    width: 100%;

}


header h2, header p{
    font-family: 'Cinzel', serif;
    color:black;
}

header span{
    font-family: 'Inspiration', cursive;
    font-size: 48px;
    font-weight: 400;
    color:pink;
}



footer {
    // bottom:0;
    // position: absolute;
    height:15vh;
}