@import './mixins';
@import './variables';

.layout {
    width: 100%;
    @include displayCol();
    align-items: left;
    background-color: $primary;

    .layout>h1, main{
        padding: 0 3%;
    }
}