@import './mixins';
@import './variables';

nav, .bottomNav {
 @include displayRow();
 width: 60%;
 
    a{
        color:white;
        text-decoration: none;
         font-family: 'Cinzel', serif;
    }
}

.bottomNav {
    width: 30%;
}