@import './mixins';
@import './variables';

nav, .bottomNav {
 @include displayRow();
 width: 60%;
 
    a{
        color:black;
        text-decoration: none;
         font-family: 'Cinzel', serif;
    }

    a:hover{
        color:#FFD011;
        font-size: 18px;
    }
}

.bottomNav {
    width: 30%;
}